pandas<=2.2.3
numpy<=2.2.0
matplotlib==3.9.4
scikit-learn==1.5.2
colorama==0.4.6
tqdm==4.67.1

# For GPU-based models
scikeras==0.13.0 # Bridge between scikit-learn and Tensorflow / PyTorch
https://github.com/woct0rdho/triton-windows/releases/download/v3.1.0-windows.post5/triton-3.1.0-cp312-cp312-win_amd64.whl # Windows fork of Triton, language & compiler for NNs