pandas
numpy
matplotlib
scikit-learn
colorama
tqdm

# For GPU-based models
scikeras # Bridge between scikit-learn and Tensorflow / PyTorch
--extra-index-url https://download.pytorch.org/whl/cu124 # Add CUDA support for PyTorch
torch # PyTorch